<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">
      <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <a class="rss-link highlight-inline" href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg></a>
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{- site.description | escape -}}</p>

        <p>Copyright &copy; <a href="/">{{ site.title | escape }}</a> {{ 'now' | date: "%Y" }}</p>

        {%- if site.mailing_list_url -%}
        <p class="call-to-action">
          <a href="{{ site.mailing_list_url | escape }}" class="button">Sign up for updates</a>
        </p>
        {%- endif -%}
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>
  </div>

</footer>
