<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <meta name="generated" content="{{ site.time | date: '%Y-%m-%d %H:%M:%S %z' }}">
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "/assets/main.js" | relative_url }}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300,600&display=swap" rel="stylesheet">
  {%- feed_meta -%}
  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
