a:not(.button) {
  @include with-contextual-link-styles();
}

// override mailerlite base settings (doesn't override the subscribe button)
.ml-form-embedContainer {
  h4 { display: none; }
  * {
    font-family: $base-font-family !important;
    font-weight: $base-font-weight !important;
  }
}
.ml-form-center {
  text-align: center;
  height: 205px;
}
.ml-form-embed {
  // display a box of about the same size until the script is actually loaded
  background-color: #2e374e;
  border-radius: 5px;
  width: 340px;
  max-width: 100%;
  height: 203px;
  margin: 0 auto;
}
.ml-form-embed, .ml-form-embedWrapper {
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.25);
  display: inline-block;
  p {
    max-width: 90%;
  }
}

relative-time {
  text-decoration: underline;
  text-decoration-color: $gray;
  text-decoration-style: dashed;
  cursor: help;
  white-space: nowrap;
}
