main.page-content {
  @include slightly-gradient-background($brand-color, $brand-color-highlight);

  padding: ($spacing-unit * 1.5) 0 $spacing-unit;

  @media screen and (max-width: $tablet) {
    padding: ($spacing-unit * 0.5) 0;
  }

  h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
    margin-bottom: $spacing-unit * 0.75;
  }

  pre, code {
    color: #222;
    background: #eef;
    font-family: 'Consolas', monospace;

    span {
      color: #222;
      background: #eef;
    }
  }

  nav.actions {
    float: right;
    font-size: $base-font-size * 0.8;

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .post-content {
    @include dotted-links($base-font-size);

    h1, h2, h3 {
      a:not(.button) {
        text-decoration: none;
        color: $text-color;
      }
    }

    hr {
      margin: $spacing-unit 0 $spacing-unit * 0.5;
      background: $text-color;
      border: 0;
      height: 2px;
    }

    nav.inline {
      margin: 0 auto;
      text-align: center;
    }

    img, figure {
      max-width: 500px;
      text-align: center;
      margin: auto;

      iframe {
        max-width: 100%;
      }

      @media screen and (max-width: 500px) {
        max-width: 100%;
      }
    }

    figure {
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
      font-style: italic;

      figcaption {
        margin-top: $spacing-unit * 0.25;
      }
    }
  }
}

nav.call-to-action {
  text-align: center;
  margin: $spacing-unit 0;

  &:first-child {
    margin-top: 0;
  }

  a.button, button, input[type=button], input[type=submit], input[type=reset] {
    padding: ($spacing-unit / 2 / 2) ($spacing-unit / 1.5 / 2);
    border-radius: ($spacing-unit / 2 / 2);
    font-size: 80%;
    margin-right: ($spacing-unit / 4);

    &:hover {
      color: darken($cta-text-color, 10%);
    }

    > svg.svg-icon {
      fill: $cta-text-color;
    }
  }
}

div#disqus_thread {
  margin-top: $spacing-unit * 2;
  border-top: 2px solid rgba(255, 255, 255, .2);
}

.steam-button {
  display: inline-block;
  background: rgb(2,0,36);
  background: linear-gradient(139deg, rgba(2,0,36,1) 51%, rgba(42,71,94,1) 150%);
  padding: $spacing-unit * 0.5 $spacing-unit * 0.75;
  border: 1px black;
  border-radius: $spacing-unit * 0.5;
  text-decoration-color: transparent !important;
  color: white !important;
  box-shadow: 0px 0px 4px transparent;
  font-style: normal;
  text-transform: uppercase;

  transition: box-shadow 0.2s, background 0.2s;

  span {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s;
  }

  &:hover {
    box-shadow: 0px 0px 6px black;
    background: rgb(2,0,36);
    background: linear-gradient(139deg, rgba(2,0,36,1) 51%, rgba(42,71,94,1) 100%);

    transition: box-shadow 0.2s, background 0.2s;

    span {
      text-decoration-color: white;
      transition: text-decoration-color 0.2s;
    }
  }

  > img {
    display: inline-block !important;
    width: $spacing-unit * 1;
    height: $spacing-unit * 1;
    margin: 0 !important;
    padding: 0 !important;
    margin-right: $spacing-unit * 0.25 !important;
    vertical-align: -38%;
  }
}
