body.page-index {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: $brand-color-highlight;
	background: linear-gradient(54deg, $brand-color-highlight 0%, $brand-color 150%);
	line-height: 150%;

	main {
		display: flex;
		max-width: 500px;
		width: 100%;
		height: 100%;
		margin: auto auto;
		text-align: center;
		background: 0;

		article {
			margin: auto;
			display: block;
			padding: 20px;

			img {
				width: 100%;
				margin-bottom: 20px;
			}

			ol, ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;

					+ li:before {
						content: '|';
            display: inline-block;
            margin: 0 10px 0 7px;
					}
				}
			}
		}
	}
}

body.page-blog {
  a.read-more-link {
    font-size: 80%;
  }
}
