---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    {% assign posts = site.posts | where: "year", "2022" %}

    {%- if posts.size > 0 -%}
      {%- if page.list_title -%}
        <h2 class="post-list-heading">{{ page.list_title }}</h2>
      {%- endif -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta" title="{{ post.date }}">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if post.description -%}
            {{ post.description | markdownify }}
            <a class="read-more-link" href="{{ post.url | relative_url }}">
              (continue reading&hellip;)
            </a>
          {%- else -%}
            {%- assign truncate_words_value = post.truncate_words | default: site.truncate_words | default: 50 -%}
            {{ post.content | markdownify | truncatewords: truncate_words_value }}
            <a class="read-more-link" href="{{ post.url | relative_url }}">
              (continue reading&hellip;)
            </a>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  </div>

  <div class="columns columns-2">
    <div class="column" style="text-align:left;">
      <a href="/blog">&lt; Latest entries</a>
    </div>
    <div class="column" style="text-align:right;">
      <a href="/blog/2021">2021 entries &gt;</a>
    </div>
  </div>

  {%- include call-to-action.html -%}
</article>
