<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.name %}
    {%- assign body_class = "page-" | append: page.name | replace: ".md", "" | slugify -%}
  {% else %}
    {%- assign body_class = "page-" | append: page.id | slugify -%}
  {% endif %}

  <body class="{{ body_class }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <nav class="actions">
          <ul>
            <li><a href="{{site.github.repository_url}}/edit/main/{{page.path}}">Edit</a></li>
          </ul>
        </nav>

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
